@page
@model Web_Application_Assignment.Pages.IntroModel
@{
    ViewData["Title"] = "Intro";
}
<section>
    <div class="text-center">
        <h3>Developer Name: John Oluwale</h3>
    </div>
</section>
