@page
@model Web_Application_Assignment.Pages.IntroModel
@{
    ViewData["Title"] = "Intro";
}
<section>
    <div class="text-center">
        <h3>Developer Name: John Oluwale</h3>
        <form>
            <input type="number" name="Firstnumber" />
            <input type="number" name="Secondnumber" />
            <output type=@Model></output>
            <input type="button" value="submit" />
        </form>
    </div>
</section>

@section Intro_Section{
    <div class="text-center">
        <p>This is the created paragraph referencing the link in _Layout.cshtml</p>
    </div>
}
